@model VehicleLoan.Models.Loan

@{
    ViewBag.Title = "DetailsLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsLoan</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnRoadPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnRoadPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanID }) |
    @Html.ActionLink("Back to List", "ViewLoans")
</p>
